@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.section--title {
  text-align: center;
  margin: 2rem 0;
}
.about,
.services,
.contact {
  padding: 2rem 10%;
}
