.hero {
  height: 88vh;
  /* padding: 10px; */
  margin-top: 1rem;
}
.hero--search-filter {
  width: 70%;
  /* background: gray; */
  height: 96%;
  display: flex;
  align-items: center;
}
.search-details {
  width: 400px;
  position: relative;
}
.hero-detail {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 20px;
  top: 50%;
  left: 110%;
  transform: translate(-50%, -50%);
}
.hero-detail .hero--title {
  font-size: 60px;
}
.search-details .search-box {
  background: #fff;
  padding: 20px;
  display: flex;
  gap: 10px;
  border: 1px solid #b4b1b1;
  border-radius: 20px;
}
.search-box .hero-filter-input {
  width: 200px;
}

.hero--image {
  width: 100%;
  background: #e6f7ff;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hero--image {
  display: flex;
  align-items: flex-end;
}
.hero--image img {
  width: 100%;
}

.hero--card-categoires {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.hero--card {
  background: #f4f4f4;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  /* padding: 10px; */
}
.card-detail {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
  /* gap: 20px; */
}
.card-detail h4 {
  font-size: 1.4rem;
  color: #363636;
}
.card-icon {
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.6rem;
}
.card-image {
  display: flex;
}
.card-image img {
  width: 100%;
}
